<p style="color: green"><%= notice %></p>

<div id="title">
  <h1>Exhibitions</h1>
</div>

<div id="exhibitions" class="main-container">
  <% @exhibitions.each do |exhibition| %>
    <%= render exhibition %>
  <% end %>
</div>


